<!doctype html>
<html class="h-100" lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="디깅, 홍대, 전시, 졸업, digging, art, show, rose">
  <meta name="author" content="김세현, 낭은영, 설경민, 정승원, 디깅">
  <meta name="generator" content="Jekyll v4.1.1">
  <title>디깅</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,700;0,800;0,900;1,200&family=Noto+Sans+KR:wght@100;400;700&display=swap"
    rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">

  <!-- <link rel="shortcut icon" type="image/x-icon" href="images/favicon-32x32.png"> -->
  <link rel="shortcut icon" href="images/favicon2.png">
  <link rel="apple-touch-icon-precomposed" href="images/favicon2.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/favicon2.png">
  <link rel="image_src" href="images/favicon2.png">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-8L0YF3JNQ2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-8L0YF3JNQ2');
  </script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <style>
    .fade {
      opacity: 1;
    }

    .s1_clicked {
      border: 1px solid rgba(255, 255, 255, 0.5) !important;
    }

    .container-img {
      position: relative;
      width: 100%;
      /* max-width: 400px; */
    }

    .image {
      display: block;
      width: 100%;
      height: auto;
    }

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      /* opacity: 0; */
    }




    .flip-card {
      background-color: transparent;
      width: 50%;
      height: 100%;
      perspective: 1000px;
    }

    .flip-card-inner {
      position: relative;
      /* width: 100%; */
      /* height: 100%; */
      text-align: center;
      transition: transform 1s;
      transform-style: preserve-3d;
    }

    .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
    }

    .flip-card-front,
    .flip-card-back {
      /* width: 30%; */
      -ms-transform: rotate(30deg);
      /* IE 9 */
      transform: rotate(30deg);
      position: absolute;
      /* width: 155%; */
      /* height: 100%; */
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    .flip-card-back {
      transform: rotateY(180deg) rotate(30deg);

    }

    .flip-container {
      /*perspective*/
      -webkit-perspective: 1000;
      -moz-perspective: 1000;
      -ms-perspective: 1000;
      -o-perspective: 1000;
      perspective: 1000;
    }

    /* flip the pane when hovered */
    .flipped {
      /*transform*/
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }

    .flip-container,
    .front,
    .back {
      width: 50px;
      height: 50px;
    }



    /* hide back of pane during swap */
    .front,
    .back {
      /*backface-visibility*/
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
    }

    /* front pane, placed above back */
    .front {
      z-index: 2;
    }

    /* back, initially hidden pane */
    .back {
      /*transform*/
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }


    h1,
    h2,
    h3,
    h4,
    h5,
    body {
      font-family: 'Montserrat', 'Noto Sans KR';
    }

    .kr-font {
      font-family: 'Noto Sans KR';
    }

    .en-font {
      font-family: 'Montserrat';
    }

    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    canvas { 
  height: 100vh; 
  width: 100vw; 
  display: block;
}
  </style>
  <!-- Custom styles for this template -->
</head>

<body class="d-flex flex-column h-100">
  <div class="container-fluid">
    <div class="row" data-aos="zoom-out" id="s1" style="background-color:#E80000; height:110vh">
      <div class="col-4" style=" margin-left: 2%;  margin-top: 4%;">
        <h1 class="text-white" id="s1_title" style='font-size: 3rem; opacity:70%;'>LET’S START DIGGING‍<span><img
              src="images/s1/emoji.png"></span> </h1>
        <div style="margin-top:40%">

          <a onclick="bg_change($(this).attr('id'))" class="ui circular label s1_clicked" id="red"
            style="background-color: #E80000;"></a>
          <a onclick="bg_change($(this).attr('id'))" id="orange" class="ui circular label"
            style="background-color: #F27809;"></a>
          <a onclick="bg_change($(this).attr('id'))" id="yellow" class="ui circular label"
            style="background-color: #FFBA22;"></a>
          <a onclick="bg_change($(this).attr('id'))" id="green" class="ui circular label"
            style="background-color: #009845;"></a>
          <a onclick="bg_change($(this).attr('id'))" id="mint" class="ui circular label"
            style="background-color: #00BFA8;"></a>
          <a onclick="bg_change($(this).attr('id'))" id="sky" class="ui circular label"
            style="background-color: #009DFF;"></a>
          <a onclick="bg_change($(this).attr('id'))" id="blue" class="ui circular label"
            style="background-color: #364DEB;"></a>
          <a onclick="bg_change($(this).attr('id'))" id="purple" class="ui circular label"
            style="background-color: #7119F2;"></a>
          <a onclick="bg_change($(this).attr('id'))" id="pink" class="ui circular label"
            style="background-color: #FF0080;"></a>
        </div>
      </div>
      <div class="col-5 offset-1" style="margin-top: 8%;">
        <div class="flip-card" style="cursor: pointer;">
          <div class="flip-card-inner" onclick="this.classList.toggle('flipped')">
            <div class="flip-card-front">
              <img class="d-card" id="s1_card" src="images/s1/red/red_card_back.png" alt="digging card"
                style="width:100%">
            </div>
            <div class="flip-card-back">
              <img class="d-card" id="s1_card_front" src="images/s1/red/red_card_front.png" alt="digging contents"
                style="width:100%">
              <div class="overlay">
                <img class="d-card" id="s1_card_caption" src="images/s1/red/red_caption.png" alt="digging caption"
                  style="width:100%">
              </div>
            </div>
          </div>
        </div>
        <p data-aos="flip-right" id="s1_text" class="text-white"
          style="text-align: center;font-size: 1.5rem;width: 59%;transform: rotate(-60deg);padding-left: 62%;/* padding-left: 50%; */">
          STYLE/BEAUTY</p>
      </div>
      <div class="col">
        <img class="float-right mr-5 mb-5" src="images/s1/mouse.png" style="width:1%">
      </div>
    </div>
    <p id="s1_color" style="display:none;">
    </p>
    <div data-aos="zoom-in-up" class="row">
      <img id="s1_image_full" src="images/s1/red/red_image.png" style="width:100%;">

      <figure><video src="images/s1/pink/pink_video.mp4" autoplay="autoplay" loop="loop" muted=""></video></figure>

    </div>

    <div class="container-img">
      <img src="images/s2/S2-gradient background.png" class="image">

      <div class="overlay" style="text-align:center; top: 39%;">
        <div class="row">
          <div class="col-3">
            <p class="text-white" data-aos="zoom-in">Dig out your favorite informations</p>
            <span class="text-white">유용한 정보를 발굴하고, 저장하며</span>
          </div>
          <div data-aos="zoom-in" class="col">
            <img src="images/s2/S2.png" width="20%">
          </div>

          <div data-aos="zoom-in" class="col-3" style="margin-top: 20%;">
            <span class="text-white">and become a digging influencer!</span>
            <span class="kr-font text-white">정보력 넘치는 디깅 인플루언서가 되어보세요!</span>
          </div>
        </div>

      </div>
    </div>

    <canvas id="background" width="1000" height="1000"></canvas>

  </div>

 

  <script>
    




    

    AOS.init({
      duration: 1200,
    })

    // AOS.init();



    function bg_change(color) {

      $(".ui.circular.label").removeClass("s1_clicked");
      document.getElementById("s1_card").src = "images/s1/" + color + "/" + color + "_card_back.png";
      document.getElementById("s1_card_front").src = "images/s1/" + color + "/" + color + "_card_front.png";
      document.getElementById("s1_card_caption").src = "images/s1/" + color + "/" + color + "_caption.png";
      document.getElementById("s1_color").textContent = color;
      document.getElementById(color).classList.add("s1_clicked");
      document.getElementById("s1_image_full").src = "images/s1/" + color + "/" + color + "_image.png";
      document.getElementById("s1").style.backgroundColor = document.getElementById(color).style.backgroundColor;

      switch (color) {
        case 'red':
          document.getElementById("s1_text").textContent = "STYLE/BEAUTY";
          break;
        case 'orange':
          document.getElementById("s1_text").textContent = "PLACE";
          break;
        case 'yellow':
          document.getElementById("s1_text").textContent = "LIVING";
          break;
        case 'green':
          document.getElementById("s1_text").textContent = "PET";
          break;
        case 'mint':
          document.getElementById("s1_text").textContent = "SCUBA DIVING";

          break;
        case 'sky':
          document.getElementById("s1_text").textContent = "HOBBY";
          break;
        case 'blue':
          document.getElementById("s1_text").textContent = "KNOWLEDGE/IT";

          break;
        case 'purple':
          document.getElementById("s1_text").textContent = "ENTERTAINMENT";

          break;
        case 'pink':
          document.getElementById("s1").style.backgroundColor = "#FF0080";
          document.getElementById("pink_btn").src = "images/s1/pink/pink_button_press.png";
          document.getElementById("s1_text").textContent = "PEOPLE";

          break;

        default:
          document.getElementById("s1").style.backgroundColor = "#E80000";
          break;
      }
    }

    $(window).scroll(function () {
      var scroll = $(window).scrollTop() / 10;
      console.log(scroll);
      var rotationStr = "rotate(" + -0.5 * scroll + "deg)";
      if (scroll <= 60) {
        $(".d-card").css({
          "-webkit-transform": rotationStr,
          "-moz-transform": rotationStr,
          "transform": rotationStr,
          "opacity": rotationStr,
          "width": (100 + 4 * scroll) + "%"
        });
        $("#s1_card_caption").css({
          "opacity": 1 - 0.033 * scroll
        });
        $("#s1_text").css({
          "padding-left": (62 + 5 * scroll) + "%"
        });
        $("#s1_title").css({
          "margin-left": (0 - 8 * scroll) + "%"
        });
      } else if (scroll < 65) {
        $("#s1_card_front").css({ "width": (100 + scroll) + "%" })
      } else {
        //안먹음
        $(".d-card").css({
          "width": (100 - 4 * scroll) + "%"
        });

      }

    });



    $(document).ready(function () {
      $('.box_holder').click(function () {
        $(this).toggleClass('show_info')
      });
    });

    var images = new Array();
    var currentLocation = 0;
    var totalImages = 580;

    for (var i = 101; i < totalImages; i++) {
      var img = new Image;
      // var slug = '000' + i    slug.slice(-2) ;
      var slug = '0'+i;
      // img.src = 'images/s5/s5_' +  + '.png'
      img.src = 'images/s5/s5_' + i +'.png'
      images.push(img);
    }

    var c = document.getElementById("background");
    var ctx = c.getContext("2d");

    var mouseWheel = function () {
      var newLocation = null;
      window.addEventListener('wheel', function (e) {
        e.preventDefault(); // No scroll

        // update our variable at high frequency
        var delta = Math.max(-1, Math.min(1, e.deltaY));
        if (delta == -1) currentLocation += 1;
        if (delta == 1) currentLocation -= 1;
        if (currentLocation < 0) currentLocation = 0;
        if (currentLocation >= (totalImages - 1)) currentLocation = (totalImages - 1);

        if (newLocation === null) { // if set, we already are waiting to draw
          requestAnimationFrame(setImage);
        }
        newLocation = currentLocation;
      });

      function setImage() {
        if (images[newLocation]) {
          ctx.fillRect(0, 0, c.width, c.height);
          ctx.drawImage(images[newLocation], 0, 0, 1000, 1000);
        }
        newLocation = null; // so the throttler knows we can draw again
      }

    }


    images[0].onload = function () {
      ctx.fillRect(0, 0, c.width, c.height);
      ctx.drawImage(images[currentLocation], 0, 0, 1000, 1000);
      mouseWheel();
    };
  </script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  </script>
</body>

</html>
